

   <div class="text-center">
        <div class="col" style='padding-top:65px ; font-size:20px ; color: #5b3508; font-weight: bold;'>
            <p style="font-size: 27px;">ENTER YOUR DETAILS </p>
            <div class="row" style="margin-bottom:30px; margin-left: 500px; margin-right: 500px; margin-top: 50px;">
                <input type="text" v-model="username" placeholder="Username"
                    style="text-align:center; color: #5b3508; background-color: beige; border-radius: 5px;" />
            </div>
            <div class="row" style="margin-left: 500px; margin-right: 500px;">
                <input type="text" v-model="password" placeholder="Password"
                    style="text-align:center; color: #5b3508; background-color: beige; border-radius: 5px; " />
            </div>
            <div v-if="error">
                <p style='padding-top:75px ; font-size:15px ; color: #b04b2e; '>{{error}} </p>
            </div>

            <div class="col" style='padding-top:45px'>
                <p><button class="btn btn-lg btn-primary" @click="register"
                        style='background-color:rgb(79, 140, 18); border-color: rgb(57, 102, 13); border-width: 2px;'>REGISTER</button>
                </p>
                <p><button class="btn btn-lg btn-primary" @click="login"
                        style='background-color:rgb(116, 188, 44);  border-color: rgb(93, 152, 35); border-width: 2px;'>LOGIN</button>
                </p>
            </div>
        </div>
    </div>

    
