
    <div class="text-center">
        <div class="waiting" style='padding-top:65px ; font-size:18px ; color: #5b3508; text-align: center;'>
            <p style="font-size: 27px; font-weight: bold;"> WAITING FOR PLAYERS </p> 

        <div class="row" style=" margin-top: 50px; ">
            <p style="font-weight: bold;color:rgb(79, 140, 18)">PLAYERS</p>
                <div v-for="player of playerList" class="col-sm-3 text-center">
                    <div class = "player" style="color: rgb(18, 62, 77); text-align: center;">
                    <p> {{player.username}} </p>
                    </div>
                </div>
        </div>
        <div class="col text-center" style=" margin-top: 50px; ">
            <p style="font-weight: bold; color:rgb(79, 140, 18)">AUDIENCE</p>
            <div v-for="aud of audienceList" class="col-sm-3 text-center">
                <div class = "aud" style="color: rgb(18, 62, 77); ">
                    <p> {{aud.username}} </p>
                </div>
            </div>
        </div>
        <div v-if="playerState.playerNumber===0">
            <button class="btn btn-lg btn-success" @click="admin('start')" style='background-color:rgb(116, 188, 44);  border-color: rgb(93, 152, 35); border-width: 2px;'>START GAME</button>
        </div> 
    </div>
    </div>

