<div class="text-center">

    <div class="col text-center" style='padding-top:75px ; font-size:18px ; color: #5b3508; text-align: center;'>
        <p style="font-size: 30px; font-weight: bold;"> ROUND {{gameState.round}} SCORES </p> 
    </div>
    <div class="row  text-center" style=" margin-top: 20px;  text-align: center;">
        <!-- <p style="font-weight: bold;color:rgb(79, 140, 18)">PLAYERS</p> -->
            <!-- <div v-for="(answers,prompt1) in promptList" class="col-sm-3 text-center"> -->
                <div v-for="player of playerList"  style="text-align: center;">
                    <div class ="player">
                    <p style="color: rgb(25, 91, 113); text-align: center; font-weight: bold;font-size: 22px; "> {{player.username}} : {{player.score}} </p>
                    </div>
            
                </div>
    </div>
   
    
    <div v-if="playerState.playerNumber===0">
        <button class="btn btn-lg btn-success" @click="admin('advance')" style='background-color:rgb(116, 188, 44);  border-color: rgb(93, 152, 35); border-width: 2px;'>NEXT</button>
    </div> 
</div>