<div class="text-center">
    <div v-if="playerState.state===1">

    <div class="col text-center" style='padding-top:65px ; font-size:18px ; color: #5b3508; text-align: center;'>
        <div v-if="ifMyPrompt==false">
        <p style="font-size: 30px; font-weight: bold;"> VOTE FOR YOUR FAVOURITE ANSWER! </p> 
        </div>
        <div v-else>
        <p style="font-size: 30px; font-weight: bold;"> PLAYERS ARE VOTING ON YOUR PROMPT! </p> 
        </div>
    </div>
    <div class="col  text-center" style=" margin-top: 50px; margin-bottom: 20px; text-align: center;">

                <p  style="color: rgb(18, 62, 77); text-align: center; font-weight: bold; font-size: 25px; "> {{promptList[0]}} </p>
                <div v-for="a in promptList[1]" style="text-align: center;">
                    <p style="color: rgb(25, 91, 113); text-align: center; font-weight: bold;font-size: 18px; margin-top: 50px; "> {{a}} </p>
                    <div v-if="ifMyPrompt==false">
                    <button class="btn btn-lg btn-success" @click="vote(promptList[0],a)" style='background-color:rgb(79, 140, 18); border-color: rgb(57, 102, 13); border-width: 2px;margin-bottom: 20px;'>VOTE</button>
                    </div>
                </div>
    </div>
    </div>
    <div v-else> 
        <div class="waiting "style='padding-top:75px ; font-size:18px ; color: #5b3508; text-align: center;'>
            <p style="font-size: 27px; font-weight: bold; margin-bottom: 50px;"> Waiting for other players ... </p> 
            <div class="box" style="text-align: center;"></div>

        </div>  
    </div>
    
    <div v-if="playerState.playerNumber===0">
        <button class="btn btn-lg btn-success" @click="admin('advance')" style='background-color:rgb(116, 188, 44);  border-color: rgb(93, 152, 35); border-width: 2px;'>NEXT</button>
    </div> 
</div>