body {
    background-image: url('/static/background1.jpg');
    background-size: cover;
    background-repeat: no-repeat;    /* background-color: #acc5d0; */
    padding-bottom: 0px;
    padding-top: 0px;
}
.title {
    font-weight: bold;
    font-size: 65px;
    text-align: center;
    color: rgb(22, 72, 105);
}
.container {
    background-color: rgba(255,255,255,0.7); 
    padding-bottom: 50px;
    padding-top: 20px;
    height: 100vh;
}
#chat { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    overflow: auto;
    max-height: 80vh;
}
#chat li { 
    padding: 5px 10px; 
}
#chat li:nth-child(odd) { 
    background-color: rgba(0,0,0,0.2); 
}
